@using CSDproject.Models.ViewModels
@using Microsoft.AspNetCore.Identity
@model CourseDetailsViewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Course Details";
}

<h2>@Model.Course.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Model.Course.Title</dd>
        <dt>Description</dt>
        <dd>@Model.Course.Description</dd>
        <dt>Price</dt>
        <dd>@Model.Course.Price.ToString("C")</dd>
    </dl>
</div>
<p>

    <a href="/Courses/Edit/@Model.Course.Id" class="btn btn-warning">Edit</a> |
    <a href="/Courses" class="btn btn-dark">Back to List</a>
</p>

<h3>Course Modules</h3>
@if (Model.CourseModules.Any())
{
    <ul>
        @foreach (var module in Model.CourseModules)
        {
            <li>
                <strong>@module.Name</strong>
                <p>@module.Content</p>
                <a href="/CourseModule/Details/@module.Id" class="btn btn-info">View Module</a>
            </li>
        }
    </ul>
}
else
{
    <p>No modules available for this course.</p>
}
<p><a href="/CourseModule/Create?courseId=@Model.Course.Id" class="btn btn-success">Add Modules</a></p>



<!-- Enrollment Button -->
@if (SignInManager.IsSignedIn(User))
{
    <form method="post" action="/CourseEnrollment/PaymentCreate">
        <input type="hidden" name="courseId" value="@Model.Course.Id" />
        <input type="hidden" name="amount" value="@Model.Course.Price" />
        <button type="submit" class="btn btn-primary">Enroll Now</button>
    </form>
}
else
{
    <p><a href="/Identity/Account/Login">Login</a> to enroll in this course.</p>
}


